.langing-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
        width: 80%;
        min-width: 60rem;
        max-width: 100rem;
        .main-image {
            width: 100%;
            min-height: 25rem;
            background-image: url("/@assets/logo-header.png");
            background-repeat: no-repeat;
        }
        .sub-wrapper {
            width: 100%;
            background-color: var(--bg);
            padding-bottom: 2rem;
            .paragraph-wrapper {
                margin: 0 calc(13rem - 1px);
                background-color: var(--line);
                position: relative;

                &:nth-child(odd) {
                    padding-left: 3px;
                    padding-bottom: 3px;
                }
                &:nth-child(even) {
                    padding-right: 3px;
                    padding-bottom: 3px;
                }
                &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 10rem;
                    background-color: var(--line);

                    .line-paragraph {
                        padding-bottom: 10rem;
                    }
                }

                .line-paragraph {
                    z-index: 2;
                    padding: 2rem;
                    text-indent: 4rem;
                    background-color: var(--bg);
                    color: whitesmoke;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: calc(100% - 6px);
                    ul {
                        list-style-position: inside;
                        margin-left: -2rem;
                        margin-right: -2rem;
                    }
    
                    .text {
                        margin-bottom: 2rem;
                    }

                }
            }

            .subs-box {
                position: absolute;
                right: -3px;
                bottom: -3px;
                display: flex;
                align-items: flex-end;
                input {
                    border: none;
                    font-size: 1.25rem;
                    height: 2rem;
                    background: none;
                    color: whitesmoke;
                    border-bottom: 3px solid var(--line);
                    padding: 1rem;
                    width: 18rem;
                    &::placeholder {
                        color: whitesmoke;
                        opacity: 0.85;
                    }
                    &:focus {
                        border: none;
                        outline: none;
                        border-bottom: 3px solid var(--line);
                    }
                }
                button {
                    border: none;
                    padding: 1rem 2rem;
                    background-color: var(--blue);
                    color: whitesmoke;
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: all 0.25s;
                    &:hover {
                        background-color: var(--line);

                    }
                }
                .subs-info {
                    padding: 1rem;
                    position: absolute;
                    top: 100%;
                    color: var(--line);
                    font-size: 0.85rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 60rem) {
    .langing-page .wrapper  {
      width: 100%;
      min-width: 100%;
    }
  }
  * {
    z-index: 2;
  }

  @keyframes electricity {
    0% {
        transform: translate(0,0);
    }
    5% {
        transform: translate(0px, 150px);
    }
    20% {
        transform: translate(1095px, 150px);
    }
    90% {
        transform: translate(1095px, 520px);
    }
    100% {
        transform: translate(0, 520px);
    }
  }