.langing-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
        width: 80%;
        min-width: 60rem;
        max-width: 100rem;
        .main-image {
            width: 100%;
            display: flex;
            align-items: center;
            .logo {
                position: relative;
                width: 15rem;
                margin-left: 13rem;
                z-index: 3;
            }
            .title {
                color: red;
                font-size: 7rem;
                z-index: 3;
                width: 100%;
                background-color: var(--bg);
                color: var(--lightBlue);
                margin-top: -1rem;
                margin-left: 2rem;
                span {
                    margin-left: -1rem;
                }
            }
        }
        .sub-wrapper {
            width: 100%;
            background-color: var(--bg);
            padding-bottom: 2rem;
            .paragraph-wrapper {
                margin: 0 calc(13rem - 1px);
                background-color: var(--darkBlue);
                position: relative;

                &:nth-child(odd) {
                    padding-left: 3px;
                    padding-bottom: 3px;
                    .line-paragraph {
                        padding-left: calc(2rem - 3px);
                        padding-bottom: calc(2rem - 3px);
                    }
                }
                &:nth-child(even) {
                    padding-right: 3px;
                    padding-bottom: 3px;
                    .line-paragraph {
                        padding-right: calc(2rem - 3px);
                        padding-bottom: calc(2rem - 3px);
                    }
                }
                &:first-child {
                    padding-top: 3px;
                    margin-top: -7rem;
                    .line-paragraph {
                        padding-top: 7rem;
                    }
                }
                &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 10rem;
                    background-color: var(--darkBlue);

                    .line-paragraph {
                        padding-bottom: 10rem;
                    }
                }

                .line-paragraph {
                    z-index: 2;
                    padding: 2rem;
                    text-indent: 4rem;
                    background-color: var(--bg);
                    color: var(--dirtyWhite);
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: calc(100% - 6px);
                    ul {
                        list-style-position: inside;
                        margin-left: -2rem;
                        margin-right: -2rem;
                    }
    
                    .text {
                        margin-bottom: 2rem;
                    }

                }
            }

            .subs-box {
                position: absolute;
                right: -3px;
                bottom: -3px;
                display: flex;
                align-items: flex-end;
                input {
                    border: none;
                    font-size: 1.25rem;
                    height: 2rem;
                    background: none;
                    color: var(--dirtyWhite);
                    border-bottom: 3px solid var(--darkBlue);
                    padding: 1rem;
                    width: 18rem;
                    &::placeholder {
                        color: var(--dirtyWhite);;
                        opacity: 0.85;
                    }
                    &:focus {
                        border: none;
                        outline: none;
                        border-bottom: 3px solid var(--darkBlue);
                    }
                }
                button {
                    border: none;
                    padding: 1rem 2rem;
                    background-color: var(--lightBlue);
                    color: var(--dirtyWhite);;
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: all 0.25s;
                    &:hover {
                        background-color: var(--darkBlue);

                    }
                }
                .subs-info {
                    padding: 1rem;
                    position: absolute;
                    top: 100%;
                    color: var(--darkBlue);
                    font-size: 0.85rem;
                    .message {
                        font-size: 1.5rem;
                    }
                    .red {
                        color: var(--lightPurple);
                    }
                    .green {
                        color: var(--green);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 60rem) {
    .langing-page .wrapper  {
        width: 100%;
        min-width: 100%;
    }
}
